.tab-content:not(.tab-content-active) {
  display: none;
}

.tab {
  cursor: pointer;
  border-radius: none;
}

.tab:not(.tab-active) {
  color: rgb(167, 167, 167);
}

.tab-active {
  color: rgb(232, 230, 227);
}

.tab:first-of-type {
  border-radius: 0 0 0 12px;
}

.tab:last-of-type {
  border-radius: 0 0 12px 0;
}

.tab:only-of-type {
  border-radius: 0 0 12px 12px;
}
