*:not(.grow) {
  flex-grow: 0 !important;
}

.grow {
  flex-grow: 1;
}

#login > * {
  margin: 5px;
  padding: 5px;
}

@media (max-width: 767px) {
  #login {
    flex-wrap: wrap;
  }
}
/* -------- tablets----------- */
@media (min-width: 768px) {
  #login > * {
    max-width: 50%;
  }
}
